[submodule "contrib/libnunchuk"]
	path = contrib/libnunchuk
	url = https://github.com/nunchuk-io/libnunchuk.git
[submodule "contrib/quotient"]
	path = contrib/quotient
	url = https://github.com/tongvanlinh/libQuotient.git
[submodule "contrib/zxing"]
	path = contrib/zxing
	url = https://github.com/zxing-cpp/zxing-cpp.git
