<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleExecutable</key>
        <string>${PRODUCT_NAME}</string>
    <key>CFBundleName</key>
        <string>${PRODUCT_NAME}</string>
    <key>CFBundleIconFile</key>
        <string>Icon.icns</string>
    <key>CFBundleIdentifier</key>
        <string>io.nunchuk.macos</string>
    <key>CFBundlePackageType</key>
        <string>APPL</string>
    <key>CFBundleSignature</key>
        <string>????</string>
    <key>LSMinimumSystemVersion</key>
        <string>${CMAKE_OSX_DEPLOYMENT_TARGET}</string>
    <key>NSPrincipalClass</key>
        <string>NSApplication</string>
    <key>NSSupportsAutomaticGraphicsSwitching</key>
        <true/>
    <key>CFBundleDisplayName</key>
        <string>${PRODUCT_NAME}</string>
    <key>CFBundleShortVersionString</key>
        <string>1.9.29</string>
    <key>CFBundleGetInfoString</key>
        <string>${PRODUCT_NAME} 1.9.29</string>
    <key>NSHighResolutionCapable</key>
        <true/>
    <key>NSCameraUsageDescription</key>
        <string>Access to the camera needed to scan QR codes</string>
    <key>CFBundleDevelopmentRegion</key>
        <string>English</string>
    <key>CFBundleInfoDictionaryVersion</key>
        <string>6.0</string>
    <key>CFBundleVersion</key>
        <string>1.9.29</string>
    <key>CFBundleIconName</key>
        <string>AppIcon</string>
    <key>UIPrerenderedIcon</key>
        <true/>
</dict>
</plist>
